<widget-modal widget-modal-title="MendixDeploy Widget" class="build-config">
    <form name="buildConfigForm" role="form" ng-submit="mendixdeployConfig.submit(buildConfigForm.$valid,mendixdeployConfig.collectorItemId)"
        novalidate="novalidate">
        <form-group class="text-center" input="collectorItemId" errors="{required: 'Please Enter Application Name'}">
            <label class="modal-label">Mendix Application Name</label>
            <input type="text" name="collectorItemId" class="form-control" placeholder="App Name"
                ng-model="mendixdeployConfig.collectorItemId" uib-typeahead="item as item.niceName + ' : ' + item.description for item in getJobs($viewValue)"
                typeahead-focus typeahead-min-length="0" typeahead-wait-ms="250" autocomplete="off" typeahead-no-results="noResults"
                required>

            <div class="form-control" ng-show="noResults">
                No Results Found
            </div>

        </form-group>
<!--
        <form-group class="text-center" input="buildDurationThreshold" errors="{required:'Build threshold is required', pattern: 'Please enter a number'}">
            <label class="modal-label">Build duration threshold</label>
            <input type="text" name="buildDurationThreshold" class="form-control-inline text-center" ng-model="mendixbuildConfig.buildDurationThreshold"
                size="3" minlength="1" maxlength="3" pattern="\d*\.?\d*" required>&nbsp;&nbsp;&nbsp;minutes
        </form-group>

        <hr/>

        <form-group input="buildConsecutiveFailureThreshold" class="text-center" errors="{required:'Takeover criteria is required', pattern:'Please enter a number'}">
            <label class="modal-label">Alert takeover criteria:</label>
            <input type="text" name="buildConsecutiveFailureThreshold" class="form-control-inline text-center" ng-model="mendixbuildConfig.buildConsecutiveFailureThreshold"
                size="1" minlength="1" maxlength="3" pattern="\d*\.?\d*" required>&nbsp;&nbsp;&nbsp;consecutive build
            fails
        </form-group>
-->
        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>

</widget-modal>