<div class="deploy-view">
   
    <table class="table">
        <thead>
            <tr class="dash-row ">
               
                <th class="server-count align-left">Mode</th>
                <th class="server-count align-left">Model Version</th>
                <th class="server-count align-left">Mendix Version</th>
                <th class="server-count align-left">Instances</th>
                <th class="server-count align-left">Total Memory</th>
                <th class="server-count align-left">Status</th>
            </tr>
        </thead>

        <tbody ng-repeat="x in mendixDeployView.mendixDeployDetails">
            <tr class="dash-row clickable" ng-repeat="environment in x.deployApiDetails"  >

                <td class="server-count align-left">
                    {{environment.mode}}

                </td>

                <td class="server-count align-left">
                    {{environment.modelversion}}

                </td>

                <td class="server-count align-left">
                    {{environment.mendixversion}}

                </td>
                <td class="server-count align-left">
                    {{environment.instances}}
                    
                </td>

                <td class="server-count align-left">
                    {{environment.totalmemory}}
                </td>
                
                <td class="server-count align-left">
                    {{environment.status}}
                </td>

            </tr>
        </tbody>
    </table>
</div>