 <!--<div  style="height:300px; width:390px; margin:0;overflow:auto;">

    <table >
        <thead>
            <tr class="dash-row ">

                <th class="server-count align-left" width="57%">Package Name</th>
                <th class="server-count align-left">Version</th>
                <th class="server-count align-left">Description</th>
                <th class="server-count align-left">Creation Date</th>
                <th class="server-count align-left">MendixVersion</th> 
                <th class="server-count align-left">Creator</th> 
                <th class="server-count align-left"width="1%">Status</th>

            </tr>
        </thead>

        <tbody ng-repeat="x in mendixBuildView.mendixBuildDetails">
            <tr class="dash-row clickable" ng-repeat="environment in x.buildApiDetails">

                <td class="server-count align-left" width="40%">
                    {{environment.name}}

                </td>

                <td class="server-count align-left" >
                    {{environment.version}}

                </td>

                   <td class="server-count align-left">
                    {{environment.description}}

                </td> 
                <td class="server-count align-left">
                    {{environment.creationdate | date:'dd-MM-yyyy HH:mm:ss '}}

                </td> 

                <td class="server-count">
                    {{environment.mendixversion}}
                </td>
                <td class="server-count align-left">
                    {{environment.creator}}

                </td> 

                <td class="server-count align-left" >
                    <i class="fa fa-check-circle text-success ng-scope" ng-if="environment.status == 'succeeded'"></i>
                    <i class="fa fa-times-circle text-danger ng-scope" ng-if="environment.status != 'succeeded'"></i>
                    {{environment.status}}
                </td>

            </tr>
        </tbody>
    </table>
</div>-->

 <div  >
    <div style="width:390px ;">
        <table class=" table scroll" >
            <thead>
                <tr class="dash-row ">
                    <th class="server-count align-left"width="40%">Package Name</th>
                    <th class="server-count align-left"width="20%">Version</th>
                    <th class="server-count align-left"width="1%">Status</th>
                </tr>
            </thead> 

            <tbody ng-repeat="x in mendixBuildView.mendixBuildDetails" style=" height:300px; overflow:auto; margin:0">
                    <tr class="dash-row clickable" ng-repeat="environment in x.buildApiDetails">
    
                        <td class="server-count align-left"width="45%">
                            {{environment.name}}
                        
                        </td>
                        
                        <td class="server-count align-left" >
                            {{environment.version}}
                        
                        </td>
                        
                        <td class="server-count align-left">
                                {{environment.status}}
                            <i class="fa fa-check-circle text-success ng-scope" ng-if="environment.status == 'succeeded'"></i>
                            <i class="fa fa-times-circle text-danger ng-scope" ng-if="environment.status != 'succeeded'"></i>
                        
                        </td>
                        
                    </tr>
                </tbody>
        </table>
    </div>
</div> 