<div class="deploy-view">
   
    
    <table class="table">
            <p><b>TeamServer Branch Details</b></p>
        <thead>
            <tr class="dash-row ">
               
                <th class="server-count align-left ">Display Name</th>
                <th class="server-count align-left">Mendix Version</th>
                <th class="server-count align-left">Latest Revision Number</th>
                <th class="server-count align-left">Branch Name</th>
            </tr>
        </thead>

        <tbody ng-repeat="x in mendixTeamServerView.mendixTeamServerDetails">
            <tr class="dash-row clickable" ng-repeat="environment in x.teamserverApiBranchDetails"  >

                <td class="server-count align-left">
                    {{environment.displayname}}

                </td>

                <td class="server-count align-left">
                    {{environment.latestrevisionmendixversion}}

                </td>

                <td class="server-count align-left">
                    {{environment.latestrevisionnumber}}

                </td>
                <td class="server-count align-left">
                    {{environment.name}}
                    
                </td>

            </tr>
        </tbody>
    </table>
    <br>
    <p><b>TeamServer Revision Details</b></p>
    <table class="table">
        <thead>
            <tr class="dash-row ">
               
                <th class="server-count align-left">Revision Number</th>
                <th class="server-count align-left">Mendix Version</th>
                <th class="server-count align-left">Author</th>
                <th class="server-count align-left">Date</th>
                <th class="server-count align-left">Commit Message</th>
            </tr>
        </thead>

        <tbody ng-repeat="x in mendixTeamServerView.mendixTeamServerDetails">
            <tr class="dash-row clickable" ng-repeat="environment in x.teamserverApiRevisionDetails"  >

                <td class="server-count align-left">
                    {{environment.number}}

                </td>

                <td class="server-count align-left">
                    {{environment.mendixversion}}

                </td>

                <td class="server-count align-left">
                    {{environment.author}}

                </td>
                <td class="server-count align-left">
                    {{environment.date|date:'dd-MM-yyyy HH:mm:ss'}}
                    
                </td>
                <td class="server-count align-left">
                    {{environment.commitmessage}}
                    
                </td>

            </tr>
        </tbody>
    </table>
</div>