<widget-modal widget-modal-title="AgileManager Widget" class="build-config" ng-init="agilemanagerConfig.load()">
    <form name="buildConfigForm" role="form" ng-submit="agilemanagerConfig.submit(buildConfigForm.$valid,agilemanagerConfig.collectorItemId)"
        novalidate="novalidate">
        <form-group class="text-center" input="WorkspaceId" errors="{required: 'Please Enter Workspace Id'}">
            <!-- <label class="modal-label">Select WorkSpace Id</label>
               <select class="form-control" id="sel1">
                   
            </select> 
            <div class="form-group" style="width:400px">
                <label>Select WorkSpace Name</label>
                <select ng-model="agilemanagerConfig.selectedworkspaceIds" ng-change="agilemanagerConfig.onChnageReleaseId(agilemanagerConfig.selectedReleaseId)"
                    class="form-control col-2">
                    <option ng-repeat="item in agilemanagerConfig.agileManagerUniqueIds.workspaceid" value="{{item}}">{{item}}</option>
                </select>
            </div> -->

            <div class="form-group" style="width:400px">
                <label>Select Release Name</label>
                <select ng-model="agilemanagerConfig.selectreleaseIds" 
                    class="form-control col-2">
                    <option ng-repeat="item in agilemanagerConfig.agileManagerUniqueIds.releaseid" value="{{item}}">{{item}}</option>
                </select>
            </div>
            
            <div class="form-group" style="width:400px">
                <label>Set Expected Velocity</label>
                <select 
                class="form-control col-2">
                    </select>
            </div>
        </form-group>
<!--
        <form-group class="text-center" input="buildDurationThreshold" errors="{required:'Build threshold is required', pattern: 'Please enter a number'}">
            <label class="modal-label">Build duration threshold</label>
            <input type="text" name="buildDurationThreshold" class="form-control-inline text-center" ng-model="mendixbuildConfig.buildDurationThreshold"
                size="3" minlength="1" maxlength="3" pattern="\d*\.?\d*" required>&nbsp;&nbsp;&nbsp;minutes
        </form-group>

        <hr/>

        <form-group input="buildConsecutiveFailureThreshold" class="text-center" errors="{required:'Takeover criteria is required', pattern:'Please enter a number'}">
            <label class="modal-label">Alert takeover criteria:</label>
            <input type="text" name="buildConsecutiveFailureThreshold" class="form-control-inline text-center" ng-model="mendixbuildConfig.buildConsecutiveFailureThreshold"
                size="1" minlength="1" maxlength="3" pattern="\d*\.?\d*" required>&nbsp;&nbsp;&nbsp;consecutive build
            fails
        </form-group>
-->
        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>

</widget-modal>