<div class="deploy-view">



        <tbody ng-repeat="x in agileManagerView.agileManagerDetails">
            <tr class="dash-row clickable" >   
                    <body>
                            <h1>Chart.js Sample</h1>
                            <div class="chart-container" style="width: 600px; height: 400px">
                                <canvas id="countries"></canvas>
                            </div>
                        
                            <script>
                                var pieData = {
                                    datasets: [{
                                        data: [20, 40, 10, 30],
                                        backgroundColor: ["#878BB6", "#4ACAB4", "#FF8153", "#FFEA88"]
                                    }]
                                };
                        
                                // Get the context of the canvas element we want to select
                                var countries = document.getElementById("countries").getContext("2d");
                                new Chart(countries, {
                                    type: 'pie',
                                    data: pieData
                                });
                            </script>
                        </body>         

            </tr>
        </tbody>
    </table>
</div>