<!-- <div id="chart-container" style="width:100%;height:80%">

    <div class="col-6" id="right" style="float:left; width: 50%;height:70%;"">
        <label style="text-align:center;width: 100%">Team - Estimated Velocity</label>
        <div class="form-group">
            <label style="text-align:center" style="visibility:hidden"></label>
            <select class="form-control col-2" style="visibility:hidden">
                <option></option>
            </select>
        </div>
        <canvas id="barChart"></canvas>
    </div>

    <div id="left" style="float:right; width: 50%;height:70%" >
        <label style="text-align:center;width: 100%">Feature - Storypoints Status</label>
        <div class="form-group" style="width:120px">
            <label>Select Release ID</label>
            <select ng-model="agileManagerView.selectedReleaseIdfeature" ng-change="agileManagerView.filterfeatures(agileManagerView.selectedReleaseIdfeature)"
                class="form-control col-2">
                <option ng-repeat="item in agileManagerView.uniqueReleaseIds" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <canvas ng-show="agileManagerView.selectedReleaseIdfeature != 0" id="myChart"></canvas>
    </div> 

</div> -->

<!-- <div id="left" style="width:600px; margin:0 auto;">
        <label style="text-align:center;width: 100%">Release ID Backlog Status</label>
        <div class="form-group" style="width:120px">
            <label>Select Release ID</label>
            <select ng-model="agileManagerView.selectedReleaseId" ng-change="agileManagerView.onChangeReleaseId(agileManagerView.selectedReleaseId)"
                class="form-control col-2">
                <option ng-repeat="item in agileManagerView.uniqueReleaseIds" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <canvas ng-show="agileManagerView.selectedReleaseId != 0" id="pie-chart" ></canvas>
    </div> -->
<style>
    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 150px;
        overflow: auto;
        margin-top: 20px;
    }

    #table-wrapper table {
        width: 100%;

    }
</style>

<div id="table-wrapper">
    <div id="table-scroll">
        <div style="width:390px; margin:0 ">
            <table class=" table">
                <thead>Feature Status
                    <tr class="dash-row ">

                        <th class="server-count align-left">Name</th>
                        <th class="server-count align-left">Done</th>
                        <th class="server-count align-left">New</th>
                        <th class="server-count align-left">In-Progress
                            <!-- <select ng-model="agileManagerView.agileManagerUniqueIds.selectedreleaseId" ng-change="agileManagerView.GetFilterBy('releaseid',agileManagerView.agileManagerUniqueIds.selectedreleaseId)" autofocus>
                        <option value="">All</option>
                        <option ng-repeat="item in agileManagerView.agileManagerUniqueIds.releaseid" value="{{item}}">{{item}}</option>
                    </select> -->
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="dash-row clickable" ng-repeat="item in agileManagerView.copyAgileManagerDetails[0].hpamFeature">

                        <td class="server-count align-left">
                            {{item.featurename}}

                        </td>

                        <td class="server-count align-left">
                            {{item.status.Done}}

                        </td>

                        <td class="server-count align-left">
                            {{item.status.New}}

                        </td>
                        <td class="server-count align-left">
                            {{item.status.InProgress}}

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>